.profile__edit-button {
  margin: 17px 0 0 18px;
  max-width: 24px;
  width: 100%;
  height: 24px;
  background-image: url(../../../image/edit-button.svg);
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
  border: 1px solid #FFF;
}

.profile__edit-button:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 640px) {
  .profile__edit-button {
    margin: 6px 10px 0 0;
    max-width: 18px;
    height: 18px;
  }
}
