.profile__avatar {
  border-radius: 50%;
  max-width: 120px;
}

@media screen and (max-width: 940px) {
  .profile__avatar {
    object-fit: cover;
  }
}

@media screen and (max-width: 640px) {
  .profile__avatar {
    margin: 0 auto;
    max-width: 120.75px;
  }
}

