.profile__info {
  margin: 0 0 0 30px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  align-content: center;
}

@media screen and (max-width: 640px) {
  .profile__info {
    margin: 26px 0 0;
  }
}
